@font-face {
  font-family: "iconfont"; /* Project id 5069586 */
  src: url('iconfont.woff2?t=1763552819294') format('woff2'),
       url('iconfont.woff?t=1763552819294') format('woff'),
       url('iconfont.ttf?t=1763552819294') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e600";
}

.icon-kefudianhua:before {
  content: "\e630";
}

